.link{
  font-size: 15px;
  margin-left: 90%;
  margin-top: 38px;
}
h1{
  text-align: center;
  margin-top: -70px;
  font-size: 45px;
}
h2{
  font-size: 35px;
}

button{
  text-align: center;
  margin-left: 40%;
  margin-top: 30px;
  background-color: #555555;
  border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 cursor: pointer;
}
.q-list{
  list-style: none;
  font-size: 30px;
}
.author{
  font-size: 20px;
}
.cool{
  margin-right: 40%;
}
