<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <h2 class="navbar-brand">Q&A Portal</h2>
        <p class="link">{{#link-to 'index' }}Home{{/link-to}}</p>
  </div>
</nav>
<div class="container container-body">
  <br><br><br><br>
  {{outlet}}
</div>
