<h1>Welcome to Q&amp;A portal!</h1>
{{new-question saveQuestion="saveQuestion"}}
<h2>Questions</h2>
<ul>
  {{#each model.questions as |question|}}
    <li>{{#link-to 'question' question.id}}{{question.inquiry}}<br>By{{question.author}}{{/link-to}}</li>
  {{/each}}
</ul>
