<h1>Welcome to Q&amp;A portal!</h1>
{{new-question saveQuestion="saveQuestion"}}
<h2>Questions</h2>
<ul>
  {{#each model.questions as |question|}}
    <li class="q-list">{{#link-to 'question' question.id}}{{question.inquiry}}<br><span class="author">-{{question.author}}<br>{{question-popularity question}}<p>
    </p></span>{{/link-to}}</li>
    <hr>
  {{/each}}
</ul>
