{{question-tile question=model destroyQuestion="destroyQuestion"}}
{{update-question question=model update="update"}}
<h4>Answers:</h4>
{{new-answer saveAnswer="saveAnswer" question=model}}
{{answer-list question=model answers=model.answers upVote="upVote" downVote="downVote"}}
